body{
    margin:0;
    font-family:'Segoe UI',Arial,sans-serif;
    background:linear-gradient(to bottom,#dfe9f3,#1c7fb3);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* CONTAINER CENTRAL */
.mobile{
    width:360px;
    text-align:center;
}

/* LOGO */
.logo{
    font-size:48px;
    font-weight:bold;
    margin-bottom:10px;
    color:#1b6ca8;
}

.logo span{
    color:#00b4d8;
}

/* TITULO */
h2{
    margin-top:10px;
    margin-bottom:20px;
}

/* CARD */
.card{
    display:flex;
    flex-direction:column;
    gap:15px;
}

/* INPUTS */
.card input{
    background:#f1f3f5;
    border:none;
    padding:12px;
    border-radius:12px;
    font-size:14px;
    outline:none;
}

/* BOTÃO */
.btn-primary{
    background:#0077b6;
    border:none;
    padding:12px;
    border-radius:25px;
    color:white;
    font-size:15px;
    cursor:pointer;
    transition:0.2s;
}

.btn-primary:hover{
    background:#005f8e;
}

/* LINK */
.link{
    font-size:13px;
    color:white;
    margin-top:10px;
    cursor:pointer;
}

/* QUESTÕES */
.alternativa{
    background:white;
    padding:10px;
    margin:8px 0;
    border-radius:10px;
    text-align:left;
}

/* MENSAGEM */
.resultado{
    margin-top:10px;
    padding:10px;
    border-radius:10px;
    font-size:13px;
}

.acerto{
    background:#d4edda;
    color:#155724;
}

.erro{
    background:#f8d7da;
    color:#721c24;
}