<!DOCTYPE html>
<html>
<head>
    <title>Definir Foco</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='foco.css') }}">
</head>
<body>
<div class = "container">
    
    <h2>Definir Foco de Estudo</h2>
    
    <form method="POST">
        <select name="foco" required>
            <option value="Matemática">Matemática</option>
            <option value="Linguagens">Linguagens</option>
            <option value="Humanas">Humanas</option>
            <option value="Natureza">Natureza</option>
        </select>
    
        <button type="submit">Salvar Foco</button>
    </form>
    
    <a href="/home">Voltar</a>
</div>

</body>
</html>