<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login - NextEnem</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>

    <div class="card">

        <div class="logo">NextEnem</div>
        <h2>Entrar na sua conta</h2>

        <form method="POST">
            <input type="email" name="email" placeholder="Digite seu email" required>
            <input type="password" name="senha" placeholder="Digite sua senha" required>
            <button type="submit">Entrar</button>
        </form>

        {% if erro %}
            <div class="erro">{{ erro }}</div>
        {% endif %}

        <div class="registro">
            Não tem conta?
            <a href="/register">Criar conta</a>
        </div>

    </div>

</body>
</html>