<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Simulado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='simulado.css') }}">
</head>
<body>

<div class="container">

    <div class="logout">
        Logado como: <strong>{{ session.email }}</strong> |
        <a href="/reiniciar">Reiniciar</a>
    </div>

    <div class="progresso">
        Questão {{ numero }} de {{ total }}
    </div>

    <div class="barra-container">
        <div class="barra"></div>
    </div>

    <h2>Simulado ENEM</h2>

    <form method="POST">
        
    <p class="texto-questao">
        {{ questao.pergunta }}
    </p>

        {% for alternativa, texto in questao.alternativas.items() %}
            <label class="opcao">
                <input type="radio" name="resposta" value="{{ alternativa }}" required>
                {{ alternativa }}  {{texto}}
            </label>
        {% endfor %}

        <br>
        <button type="submit">Responder</button>

</div>

</body>
</html>